.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 3%;

    min-height: 100vh;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 80%;
    margin-bottom: 2%;
}

.card {
    display: flex;
    gap: 10px;

    width: 80%;
    padding: 2% 5%;
    margin-bottom: 1rem;

    background-color: #f8f8f2;
    border: 1px solid #bdbdbd;
    border-radius: 10px;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.card i{
    color: #5199d4;
    font-size: 14px;

    margin-right: 2%;
}

.event-description {
    width: 75%;
}

.event-description h2{
    font-size: 19px;
}

.event-info {
    width: 40%;
}

.event-info h2{
    font-size: 15px;
}

.btn {
    display: block;
    color: #f8f8f2;
    text-decoration: none;

    width: 35%;
    margin-top: 5%;
}

.btn div{
    width: 100%;
    padding: 5%;

    background-color: #5199d4;
    border-radius: 5px;
    border: 1px solid #5199d4;

    text-align: center;
}

.add-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 100%;
}

.add-event i {
    font-size: 3rem;
}

@media screen and (max-width: 700px) {
    .card {
        display: block;
        width: 95%;
    }

    .event-description,
    .event-info {
        width: 95%;
    }
}
